<!--% Header template  -->
<%- include('partials/header') %>

<!--% Navbar  -->

<%- include('partials/navbar') %>

<section class="Top-Stories my-5">
  <div class="container">
    <h1 class="display-5 text-light my-5">Buisness</h1>
    <h2 class="display-6 text-light mb-4">Top Stories</h2>
    <!--% Buisness-Cards  -->
    <div class="row">
      <% for( let i = 0; i < 4; i++ ) { %>
      <div class="col-md-3 col-sm-6 mb-3 top-stories">
        <div class="card" style="width: 18rem;">
          <img src="<%= buisness[i].urlToImage %> " alt="" class="card-img-top card-img tech-img" />
          <div class="card-title m-3">
            <h5><%=buisness[i].title%></h5>
          </div>
          <a href="<%= buisness[i].url %>" class="stretched-link">
            <p class="card-text ms-3 my-3">
              <small class="text-muted"><%= buisness[i].source.name %> </small>
            </p>
          </a>
        </div>
      </div>
      <% } %>
    </div>
    <div class="row">
      <% for( let i = 4; i < 8; i++ ) { %>
      <div class="col-md-3 col-sm-6 mb-3 top-stories">
        <div class="card" style="width: 18rem;">
          <img src="<%= buisness[i].urlToImage %> " alt="" class="card-img-top card-img tech-img" />
          <div class="card-title m-3">
            <h5><%=buisness[i].title%></h5>
          </div>
          <a href="<%= buisness[i].url %>" class="stretched-link">
            <p class="card-text ms-3 my-3">
              <small class="text-muted"><%= buisness[i].source.name %> </small>
            </p>
          </a>
        </div>
      </div>
      <% } %>
    </div>
    <div class="row">
      <% for( let i = 8; i < 12; i++ ) { %>
      <div class="col-md-3 col-sm-6 mb-3 top-stories">
        <div class="card" style="width: 18rem;">
          <img src="<%= buisness[i].urlToImage %> " alt="" class="card-img-top card-img tech-img" />
          <div class="card-title m-3">
            <h5><%=buisness[i].title%></h5>
          </div>
          <a href="<%= buisness[i].url %>" class="stretched-link">
            <p class="card-text ms-3 my-3">
              <small class="text-muted"><%= buisness[i].source.name %> </small>
            </p>
          </a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>


<!--& More News  -->

<section class="Technology">
  <div class="container">
    <h2 class="display-6 text-light mb-4">More News</h1>
      <div class="News-Articles">
        <% more_buisness.forEach(bus => { %>
        <% if (bus.urlToImage!=null) { %>
        <div class="card mb-3" style="max-width: 940px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="<%= bus.urlToImage %>" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= bus.title %> </h5>
                <a href="<%= bus.url %>" class="stretched-link">
                  <p class="card-text">
                    <small class="text-muted"><%= bus.source.name%></small>
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <%}%>
        <% }) %>
      </div>
  </div>
</section>

<!--% Footer  -->

<%- include('partials/footer') %>
